/*Recipe-simple-fav*/
.article-recipe-simple-fav {
  width: 150px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  align-items: center;
  border-radius: var(--ep-br);
  gap: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-left: 45px;
}
.article-recipe-simple-fav:hover {
  transform: scale(1.05);
}
.article-recipe-simple-fav > img {
  height: 120px;
  width: 100%;
  border-radius: var(--ep-br);
  object-fit: cover;
}
.article-recipe-simple-fav > h3 {
  width: 100%;
  line-height: 1.3;
  text-align: center;
  color: var(--ep-third-text);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}
