/*Section-main-page-mission*/
#section-main-page-mission {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: var(--ep-fifth-bg);
}
.article-main-page-mission {
  height: 100%;
  width: 50%;
  flex-direction: column;
  padding-top: var(--ep-padding-m);
  padding-left: var(--ep-padding-section);
  margin-top: var(--ep-margin-xl);
  gap: 60px;
}
.article-main-page-mission h2 {
  width: 500px;
  margin-left: var(--ep-margin-section);
  font-family: 'Lora', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  color: var(--ep-fifth-text);
  letter-spacing: 2;
  line-height: 50px;
  text-align: start;
}
.article-main-page-mission-img {
  height: 90%;
  width: 50%;
}
.article-main-page-mission-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  border-radius: 100px 0 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.div-main-page-mission-goals {
  display: flex;
  justify-content: start;
  align-items: start;
  align-content: start;
  flex-direction: column;
  width: 100%;
  height: 550px;
  gap: 60px;
  padding-top: var(--ep-padding-m);
}
.div-main-page-mission-goal {
  display: flex;
  justify-content: start;
  align-items: start;
  align-content: start;
  width: 100%;
  height: 100px;
  gap: 30px;
  border-radius: var(--ep-br);
}
.div-main-page-mission-goal img {
  width: 100px;
  transition: transform 0.5s ease;
}
.div-main-page-mission-goal img:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.div-main-page-mission-goal img:active {
  transform: scale(1.03) rotate(360deg);
}
.div-p-mission {
  width: 400px;
  height: 100px;
  background-color: var(--ep-color2);
  border-radius: var(--ep-br);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.div-p-mission > p {
  font-size: 15px;
  text-align: center;
  width: 330px;
  color: var(--ep-color3);
  letter-spacing: 1.5px;
  line-height: 19px;
  font-weight: 300;
}

/* MediaQueries*/
@media (max-width: 1350px) {
  #section-main-page-mission {
    height: 700px;
  }
  .article-main-page-mission {
    padding-top: var(--ep-padding-l);
    padding-left: 0;
    margin: 0;
    gap: 20px;
  }
  .article-main-page-mission h2 {
    width: 100%;
    margin-left: 0;
    line-height: 20px;
    font-size: 30px;
    letter-spacing: 1.5;
    margin-bottom: 20px;
    text-align: center;
  }
  .div-main-page-mission-goals {
    width: 500px;
    height: 450px;
    gap: 40px;
    padding-top: var(--ep-padding-m);
  }
  .div-main-page-mission-goal img {
    width: 80px;
  }
  .div-p-mission {
    width: 420px;
    height: 90px;
  }
}
@media (max-width: 1250px) {
  #section-main-page-mission {
    height: auto;
    padding-left: var(--ep-padding-xl);
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .article-main-page-mission {
    padding-top: 0;
    height: auto;
    gap: 20px;
  }
  .div-main-page-mission-goals {
    flex-direction: column;
    width: 500px;
    height: auto;
    gap: 30px;
  }
  .div-main-page-mission-goal {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 200px;
    gap: 20px;
  }
  .article-main-page-mission-img {
    height: 100%;
    width: 50%;
  }
  .article-main-page-mission-img > img {
    height: 800px;
  }
}
@media (max-width: 1000px) {
  #section-main-page-mission {
    height: auto;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 50px;
    padding-left: 0;
    padding-bottom: var(--ep-padding-m);
  }
  .article-main-page-mission {
    padding-top: 0;
    height: auto;
    gap: 10px;
    margin-bottom: var(--ep-margin-m);
  }
  .div-main-page-mission-goals {
    padding: 0;
  }
  .div-main-page-mission-goal {
    height: 220px;
  }
  .div-main-page-mission-goal img {
    width: 80px;
  }
  .div-p-mission {
    width: 520px;
    height: 70px;
  }
  .div-p-mission > p {
    width: 450px;
  }
  .article-main-page-mission-img {
    padding-left: var(--ep-padding-section);
    height: 200px;
    width: 100%;
  }
  .article-main-page-mission-img > img {
    height: 100%;
  }
}
@media (max-width: 650px) {
  .div-p-mission {
    width: 400px;
    height: 80px;
  }
  .div-p-mission > p {
    width: 300px;
    font-size: 14px;
  }
  .article-main-page-mission-img {
    height: 150px;
    padding-left: var(--ep-padding-xl);
  }
}
@media (max-width: 530px) {
  #section-main-page-mission {
    height: auto;
    padding-left: 0;
    padding-top: var(--ep-padding-m);
  }
  .article-main-page-mission h2 {
    max-width: 300px;
    line-height: 1;
    font-size: 27px;
  }
  .article-main-page-mission {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: auto;
    width: 100%;
    margin-bottom: var(--ep-margin-xs);
  }
  .div-main-page-mission-goal img {
    width: 70px;
  }
  .div-main-page-mission-goal {
    height: auto;
  }
  .div-main-page-mission-goals {
    height: auto;
    gap: 50px;
    padding: var(--ep-padding-s) 0 var(--ep-padding-m) 0;
  }
  .div-p-mission {
    width: 180px;
    height: 180px;
    padding: 0 20px;
  }
  .div-p-mission > p {
    font-size: 13px;
  }
}
