/*Section-main-page-restaurantes*/
#section-main-page-restaurants {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: var(--ep-padding-section) 0 var(--ep-padding-xl) 0;
  background-color: var(--ep-fifth-bg);
  gap: 60px;
}
#section-main-page-restaurants h2 {
  width: 100%;
  text-align: end;
  line-height: 50px;
  font-family: 'Lora', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  color: var(--ep-fifth-text);
  letter-spacing: 2;
  margin-right: var(--ep-margin-xl);
}
.article-main-page-restaurants-carousel {
  gap: 50px;
  animation: slideRight 100s linear infinite;
  overflow: hidden;
  width: max-content;
  margin-bottom: var(--ep-margin-m);
}
.article-main-page-restaurants-carousel:hover {
  animation-play-state: paused;
}

/*Animation*/
@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

/*MediaQueries*/
@media (max-width: 1350px) {
  #section-main-page-restaurants {
    width: 100%;
    height: auto;
    padding: var(--ep-padding-xl) 0 var(--ep-padding-xl) 0;
    gap: 10px;
  }
  #section-main-page-restaurants h2 {
    font-size: 30px;
    letter-spacing: 1.5;
    margin-bottom: 40px;
    margin-bottom: var(--ep-margin-l);
  }
}
@media (max-width: 1110px) {
  #section-main-page-restaurants {
    width: 100%;
    height: auto;
    padding: var(--ep-padding-l) 0 var(--ep-padding-l) 0;
    gap: 10px;
  }
  #section-main-page-restaurants h2 {
    font-size: 30px;
    letter-spacing: 1.5;
    margin-bottom: 40px;
    margin-bottom: var(--ep-margin-l);
  }
  .article-main-page-restaurants-carousel {
    height: auto;
    margin-bottom: var(--ep-margin-s);
  }
}
@media (max-width: 1000px) {
  #section-main-page-restaurants {
    padding-bottom: var(--ep-padding-xl);
  }
  #section-main-page-restaurants h2 {
    width: 100%;
    text-align: center;
    margin-right: 0;
    padding-top: var(--ep-padding-m);
    margin-bottom: var(--ep-margin-xl);
  }
}
@media (max-width: 778px) {
  #section-main-page-restaurants {
    padding-bottom: var(--ep-padding-l);
  }
}
@media (max-width: 530px) {
  #section-main-page-restaurants {
    padding-top: var(--ep-padding-m);
  }

  #section-main-page-restaurants h2 {
    max-width: 300px;
    line-height: 1;
    font-size: 27px;
    height: auto;
    padding: 0;
  }
}
