/*Section-my-recipes-non-verified*/
#section-my-recipes-non-verified {
  width: 100%;
  height: auto;
  flex-direction: column;
  background-color: var(--ep-second-bg);
  padding: var(--ep-padding-l) var(--ep-padding-xl);
  gap: 20px;
}
#section-my-recipes-non-verified > h2 {
  width: 100%;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.8px;
  color: var(--ep-fifth-text);
}
#section-my-recipes-non-verified > p {
  font-size: 16px;
  width: 300px;
  text-align: center;
  color: var(--ep-first-text);
  letter-spacing: 0.5px;
  line-height: 18px;
  font-weight: 200;
  margin-bottom: var(--ep-margin-m);
}
.article-user-recipes-non-verified {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.no-recipes-verified-container {
  width: 100%;
  height: 30px;
  gap: 10px;
}
.no-recipes-verified-container > p {
  font-size: 18px;
  text-align: center;
  color: var(--ep-second-text);
  letter-spacing: 0.5px;
  line-height: 28px;
  font-weight: 200;
}

@media (max-width: 1120px) {
  #section-my-recipes-non-verified {
    padding: var(--ep-padding-xl) var(--ep-padding-xl);
  }
  #section-my-recipes-non-verified > p {
    margin-bottom: var(--ep-margin-xl);
  }
  .article-user-recipes-non-verified {
    width: 690px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
  }
}
@media (max-width: 580px) {
  #section-my-recipes-non-verified > h2 {
    font-size: 18px;
    width: 250px;
    line-height: 1.3;
  }
  #section-my-recipes-non-verified > p {
    font-size: 14px;
  }
  .article-user-recipes-non-verified {
    width: 250px;
    justify-content: center;
    gap: 30px;
  }
}
