.form {
  position: relative;
  height: 100%;
  width: 420px;
  flex-direction: column;
  gap: 15px;
  padding: var(--ep-padding-m);
  margin: auto;
  border-radius: var(--ep-br);
  background-color: var(--ep-first-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.div-form-title {
  margin-bottom: var(--ep-margin-xs);
  gap: 14px;
}
.div-form-title > h3 {
  font-weight: 600;
  width: 400px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 0.8px;
  color: var(--ep-sixth-text);
}
.div-form-title > p {
  font-size: 14px;
  width: 300px;
  text-align: center;
  color: var(--ep-third-text);
  letter-spacing: 0.5px;
  line-height: 18px;
  font-weight: 200;
}
.div-form-inputs {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-content: center;
  gap: 20px;
  margin-bottom: 10px;
}
.input,
.difficulty-input {
  width: 280px;
  height: 35px;
  border-radius: var(--ep-br);
  border: none;
  padding: 0 var(--ep-padding-s);
  font-size: 12px;
  letter-spacing: 1.5px;
  background-color: var(--ep-third-bg);
}
.div-img-form-user {
  position: absolute;
  height: 70px;
  top: 360px;
  width: 150px;
}
.div-img-form-user > img {
  width: 100%;
  object-fit: contain;
}
.input[type='file'] {
  display: none;
}
.label-img {
  width: 280px;
  height: 35px;
  display: flex;
  justify-content: start;
  justify-items: start;
  align-items: center;
  align-content: center;
  border-radius: var(--ep-br);
  border: none;
  padding: 8px var(--ep-padding-s);
  letter-spacing: 1.5px;
  background-color: var(--ep-third-bg);
  opacity: 0.9;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.732);
}
.input-error,
.difficulty-input-error {
  width: 280px;
  height: 40px;
  border-radius: var(--ep-br);
  border: none;
  padding: 8px var(--ep-padding-s);
  font-size: 12px;
  letter-spacing: 1.5px;
  border: 2px solid var(--ep-color7);
  background-color: var(--ep-third-bg);
  font-size: 12px;
}
.input-error-ingredients {
  width: 550px;
  height: 40px;
  border-radius: var(--ep-br);
  border: none;
  padding: 8px var(--ep-padding-s);
  font-size: 12px;
  letter-spacing: 1.5px;
  border: 2px solid var(--ep-color7);
  background-color: var(--ep-third-bg);
  font-size: 12px;
}
.error-message-form,
.error-message-backend {
  font-size: 12px;
  letter-spacing: 3;
  color: var(--ep-third-text);
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}
.success-message-register {
  font-size: 12px;
  letter-spacing: 3;
  font-weight: 600;
  color: var(--ep-third-text);
  text-transform: uppercase;
  text-align: center;
}

/*MediaQueries*/
@media (max-width: 1100px) {
  .form-main-page {
    height: 480px;
    width: 380px;
    margin: 0;
  }
  .div-img-form-user {
    position: absolute;
    height: 70px;
    top: 390px;
    width: 150px;
  }
  .div-img-form-user > img {
    width: 100%;
    object-fit: contain;
  }
}
@media (max-width: 1000px) {
  .form-main-page {
    height: 480px;
    width: 380px;
    margin-right: 15px;
  }
}
@media (max-width: 721px) {
  .div-img-form-user {
    width: 120px;
    top: 400px;
  }
}

@media (max-width: 530px) {
  .form-main-page {
    height: 500px;
    width: 280px;
  }
  .form-main-page .div-form-inputs {
    height: 180px;
    margin-top: var(--ep-margin-xs);
  }
  .form-main-page .div-form-inputs > .input-error {
    width: 250px;
  }
  .form-main-page .div-form-title > p {
    font-size: 14px;
    width: 250px;
    line-height: 18px;
    font-weight: 200;
  }
  .div-form-title > h3 {
    width: 250px;
    font-size: 18px;
  }
  .input {
    width: 230px;
    height: 30px;
  }
  .input[type='file'] {
    width: 230px;
    height: 30px;
  }
}
