#section-my-data {
  width: 100%;
  background-color: var(--ep-second-bg);
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: start;
  align-content: start;
  padding: 50px var(--ep-padding-l);
}
#section-my-data.restaurant {
  height: 1040px;
}
#section-my-data.user {
  height: 1000px;
  padding-top: 250px;
}
#section-my-data.admin {
  height: 800px;
  padding-top: 50px;
}
.article-my-data {
  position: absolute;
  width: 1200px;
  height: auto;
  flex-direction: column;
  background-color: var(--ep-fifth-bg);
  padding: var(--ep-padding-l) 0;
  border-radius: var(--ep-br);
  gap: 50px;
}

.article-my-data > div {
  width: 100%;
  gap: 40px;
}

.edit-icon-alert {
  color: var(--ep-color3);
  width: 20px;
  height: 20px;
}

.div-field-with-icon-img {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: start;
  justify-items: start;
  gap: 15px;
}

.img-container {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid var(--ep-color2);
}

.img-container > img {
  width: 100%;
}

.error-message-my-data {
  font-size: 12px;
  letter-spacing: 3;
  color: var(--ep-second-text);
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}

/*MediaQueries*/
@media (max-width: 1300px) {
  #section-my-data {
    height: 900px;
  }
  .article-my-data {
    position: absolute;
    width: 1000px;
    height: auto;
    flex-direction: column;
    background-color: var(--ep-fifth-bg);
    padding: var(--ep-padding-l) 0;
    border-radius: var(--ep-br);
    gap: 50px;
  }
}

@media (max-width: 1120px) {
  #section-my-data.user {
    height: 1500px;
  }
  #section-my-data.admin {
    height: 1250px;
  }
  #section-my-data.restaurant {
    height: 1750px;
  }

  .article-my-data {
    width: 690px;
  }
  .article-my-data > div {
    flex-direction: column;
    gap: 60px;
  }
}
@media (max-width: 950px) {
  #section-my-data.user {
    height: 1650px;
  }
  #section-my-data.admin {
    height: 1400px;
  }
  .article-my-data {
    width: 500px;
  }
}
@media (max-width: 580px) {
  #section-my-data.user {
    padding-top: 180px;
    height: 1800px;
  }
  #section-my-data.admin {
    height: 1600px;
  }
  #section-my-data.restaurant {
    height: 2120px;
  }
  .article-my-data {
    width: 280px;
  }
}
