/*Section-main-page-recipes*/
#section-main-page-recipes {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: var(--ep-padding-xl) 0 var(--ep-padding-section) 0;
  background-color: var(--ep-first-bg);
}
#section-main-page-recipes h2 {
  font-family: 'Lora', serif;
  font-optical-sizing: auto;
  width: 100%;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  color: var(--ep-sixth-text);
  letter-spacing: 2;
  line-height: 50px;
  margin-bottom: 20px;
  text-align: end;
  margin-right: var(--ep-margin-section);
}
.article-main-page-recipes-carousel {
  gap: 50px;
  overflow: hidden;
  width: max-content;
  margin-bottom: var(--ep-margin-m);
  animation: slideLeft 450s infinite linear;
}
.article-main-page-recipes-carousel:hover {
  animation-play-state: paused;
}

/*Animation*/
@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*MediaQueries*/
@media (max-width: 1350px) {
  #section-main-page-recipes {
    width: 100%;
    height: 550px;
    padding: var(--ep-padding-l) 0 var(--ep-padding-xl) 0;
  }
  #section-main-page-recipes h2 {
    font-size: 30px;
    letter-spacing: 1.5;
    margin-bottom: 40px;
  }
}

@media (max-width: 1000px) {
  #section-main-page-recipes {
    padding-bottom: var(--ep-padding-xl);
  }
  #section-main-page-recipes h2 {
    width: 100%;
    text-align: center;
    margin-right: 0;
    padding-top: var(--ep-padding-m);
    margin-bottom: var(--ep-margin-xl);
  }
}
@media (max-width: 778px) {
  #section-main-page-recipes {
    padding-bottom: var(--ep-padding-l);
  }
}
@media (max-width: 530px) {
  #section-main-page-recipes {
    padding-top: var(--ep-padding-m);
  }

  #section-main-page-recipes h2 {
    max-width: 300px;
    line-height: 1;
    font-size: 27px;
    height: auto;
    padding: 0;
    margin-top: var(--ep-margin-s);
  }
}
