.article-confirmation-prompt-user,
.article-confirmation-prompt-recipe,
.article-confirmation-prompt-restaurant {
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
  border-radius: var(--ep-br2);
  background-color: var(--ep-forth-bg);
  z-index: 1000;
}
.article-confirmation-prompt-user > div,
.article-confirmation-prompt-recipe > div,
.article-confirmation-prompt-restaurant > div {
  width: 100%;
  height: 30px;
  gap: 20px;
}
.article-confirmation-prompt-user > p,
.article-confirmation-prompt-recipe > p,
.article-confirmation-prompt-restaurant > p {
  width: 600px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-weight: 200;
  color: var(--ep-third-text);
}
.article-confirmation-prompt-user > p:last-of-type,
.article-confirmation-prompt-recipe > p:last-of-type,
.article-confirmation-prompt-restaurant > p:last-of-type {
  width: 600px;
  margin-bottom: var(--ep-margin-s);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-weight: 400;
  color: var(--ep-third-text);
}

/*MediaQueries*/
@media (max-width: 950px) {
  .article-confirmation-prompt-user,
  .article-confirmation-prompt-recipe,
  .article-confirmation-prompt-restaurant {
    position: fixed;
    width: 350px;
    height: 130px;
    gap: 0;
  }
  .article-confirmation-prompt-user > p,
  .article-confirmation-prompt-recipe > p,
  .article-confirmation-prompt-restaurant > p {
    font-size: 14px;
  }
  .article-confirmation-prompt-user > p:last-of-type,
  .article-confirmation-prompt-recipe > p:last-of-type,
  .article-confirmation-prompt-restaurant > p:last-of-type {
    font-size: 14px;
  }
}
@media (max-width: 580px) {
  .article-confirmation-prompt-user,
  .article-confirmation-prompt-recipe,
  .article-confirmation-prompt-restaurant {
    position: fixed;
    width: 230px;
    height: 170px;
  }
  .article-confirmation-prompt-user > p,
  .article-confirmation-prompt-recipe > p,
  .article-confirmation-prompt-restaurant > p {
    font-size: 14px;
    margin-bottom: var(--ep-margin-xs);
  }
  .article-confirmation-prompt-user > p:last-of-type,
  .article-confirmation-prompt-recipe > p:last-of-type,
  .article-confirmation-prompt-restaurant > p:last-of-type {
    font-size: 14px;
  }
  .article-confirmation-prompt-user > div,
  .article-confirmation-prompt-recipe > div,
  .article-confirmation-prompt-restaurant > div {
    height: 20px;
    gap: 10px;
  }
}
