/*Recipe-simple*/
.article-recipe-simple {
  position: relative;
  width: 267px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  align-items: center;
  gap: 20px;
  border-radius: var(--ep-br);
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.article-recipe-simple > div {
  position: relative;
  height: 250px;
  width: 260px;
  border-radius: var(--ep-br);
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.article-recipe-simple > div > img {
  width: 100%;
  height: 100%;
  border-radius: var(--ep-br);
  object-fit: cover;
  transition: all 300ms ease-in;
  filter: brightness(0.7);
}
.article-recipe-simple:hover img {
  transform: scale(1.4);
  transition: all 400ms ease-in;
  filter: brightness(0.4);
}
.article-recipe-simple:hover h3 {
  transform: translateY(-150px);
  color: var(--ep-second-text);
  transition: all 400ms ease-in;
}
.dark-text-recipe {
  position: absolute;
  margin-top: 270px;
  max-width: 200px;
  color: var(--ep-third-text);
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 400;
  transition: all 400ms ease-in;
}
.light-text-recipe {
  position: absolute;
  margin-top: 270px;
  max-width: 200px;
  color: var(--ep-first-text);
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 400;
  transition: all 400ms ease-in;
}
.div-likes-recipe {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  opacity: 0;
  z-index: 1;
  transition: opacity 400ms ease-in;
}
.article-recipe-simple:hover .div-likes-recipe {
  opacity: 1;
  z-index: 2;
  transition-delay: 400ms;
}
.div-likes-recipe > h4 {
  font-weight: 100;
  font-style: normal;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.8px;
  color: var(--ep-second-text);
}
.icon-like-recipe {
  width: 25px;
  height: 25px;
  color: #ea2027;
}

/*MediaQueries*/
@media (max-width: 1100px) {
  .article-recipe-simple {
    width: 210px;
    height: 280px;
    gap: 10px;
  }
  .article-recipe-simple > div {
    height: 200px;
    width: 210px;
  }
  .dark-text-recipe,
  .light-text-recipe {
    margin-top: 220px;
    max-width: 180px;
    font-size: 13px;
    letter-spacing: 2.5px;
  }
  .article-recipe-simple:hover h3 {
    transform: translateY(-120px);
  }
}
