/*Recipe-non-verified*/
.article-recipe-simple-non-verified {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--ep-br);
  filter: grayscale(100%);
  opacity: 0.8;
  background-color: var(--ep-color5);
}
.article-recipe-simple-non-verified > img {
  height: 80%;
  width: 100%;
  border-radius: var(--ep-br) var(--ep-br) 0 0;
  object-fit: cover;
}
.article-recipe-simple-non-verified > h3 {
  width: 90%;
  line-height: 1.3;
  text-align: center;
  color: var(--ep-first-text);
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}
/*Recipe-non-verified-admin*/
.article-recipe-non-verified-admin {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  align-items: center;
  gap: 20px;
  border-radius: var(--ep-br);
  opacity: 0.8;
  background-color: var(--ep-color5);
  background-color: var(--ep-fifth-bg);
  padding: var(--ep-padding-l) var(--ep-padding-m);
}
.article-recipe-non-verified-admin > h3 {
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--ep-fifth-text);
  text-transform: uppercase;
}
.div-recipe-non-verified-admin-img {
  position: relative;
  height: 250px;
  width: 260px;
  border-radius: var(--ep-br);
  overflow: hidden;
}
.div-recipe-non-verified-admin-img > img {
  height: 100%;
  width: 100%;
  border-radius: var(--ep-br);
  object-fit: cover;
  filter: brightness(0.7);
}
.div-recipe-non-verified-admin-basics {
  width: 100%;
  height: 30px;
  gap: 10px;
}
.div-recipe-non-verified-admin-basics > h5 {
  font-weight: 100;
  font-style: normal;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.8px;
  color: var(--ep-second-text);
  text-transform: uppercase;
}
.div-recipe-non-verified-admin-ingredients,
.div-recipe-non-verified-admin-elaboration {
  width: 100%;
  height: auto;
  gap: 10px;
  margin-top: var(--ep-margin-s);
}
.div-recipe-non-verified-admin-ingredients > h4,
.div-recipe-non-verified-admin-elaboration > h4 {
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.8px;
  color: var(--ep-fifth-text);
  text-transform: uppercase;
}
.div-recipe-non-verified-admin-ingredients > ul {
  width: 100%;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: var(--ep-second-text);
  gap: 20px;
}
.div-recipe-non-verified-admin-elaboration > p {
  width: 100%;
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
  text-align: justify;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: var(--ep-second-text);
}
.div-recipe-non-verified-admin-buttons {
  width: 100%;
  height: auto;
  gap: 30px;
  margin-top: var(--ep-margin-s);
}

/*MediaQueries*/
@media (max-width: 1120px) {
  .article-recipe-non-verified-admin {
    width: 300px;
  }
}
@media (max-width: 580px) {
  .article-recipe-simple-non-verified {
    width: 150px;
    height: 190px;
  }
  .article-recipe-simple-non-verified > img {
    height: 70%;
  }
  .article-recipe-non-verified-admin {
    width: 250px;
    gap: 20px;
    padding: var(--ep-padding-m) var(--ep-padding-s);
  }
  .article-recipe-non-verified-admin > h3 {
    font-size: 15px;
  }
  .div-recipe-non-verified-admin-img {
    height: 180px;
    width: 250px;
  }

  .div-recipe-non-verified-admin-basics {
    height: 35px;
  }
  .div-recipe-non-verified-admin-basics > h5 {
    font-size: 12px;
  }
  .div-recipe-non-verified-admin-ingredients,
  .div-recipe-non-verified-admin-elaboration {
    width: 100%;
    height: auto;
    gap: 10px;
    margin-top: var(--ep-margin-s);
  }
  .div-recipe-non-verified-admin-ingredients > h4,
  .div-recipe-non-verified-admin-elaboration > h4 {
    font-weight: 600;
    font-size: 13px;
  }
  .div-recipe-non-verified-admin-ingredients > ul {
    font-size: 12px;
    gap: 10px;
  }
  .div-recipe-non-verified-admin-elaboration > p {
    font-size: 12px;
  }
  .div-recipe-non-verified-admin-buttons {
    width: 100%;
    height: auto;
    gap: 30px;
    margin-top: var(--ep-margin-xl);
  }
}
