/*Section-login*/
#section-login {
  position: relative;
  width: 100%;
  height: 1050px;
  background-color: var(--ep-second-bg);
  display: flex;
  flex-direction: column;
  z-index: 0;
}
.article-form-login {
  position: absolute;
  top: 260px;
  width: 100%;
  height: 500px;
  display: flex;
  gap: 30px;
}
.form-login {
  position: absolute;
  width: 380px;
  height: 380px;
  flex-direction: column;
  gap: 12px;
  padding: var(--ep-padding-m);
  border-radius: var(--ep-br);
  background-color: var(--ep-first-bg);
}
.form-login > .div-form-inputs {
  height: 120px;
  gap: 25px;
}
.div-login-img {
  position: absolute;
  top: 30px;
  margin: auto;
  z-index: -10;
  width: 700px;
  height: 500px;
}
.div-img-login-left {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 270px;
  z-index: -1;
}
.div-img-login-left > img {
  width: 100%;
  object-fit: contain;
}
.div-img-login-right {
  position: absolute;
  right: 20px;
  bottom: 240px;
  width: 280px;
  height: 280px;
  z-index: -1;
  transform: rotate(120deg);
}
.div-img-login-right > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.error-message-login {
  position: absolute;
  z-index: 1;
  left: 170px;
  top: 275px;
  font-size: 10px;
  letter-spacing: 3;
  color: var(--ep-third-text);
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}

/*MediaQueries*/
@media (max-width: 1100px) {
  .div-login-img {
    width: 600px;
  }
  .div-img-login-left,
  .div-img-login-right {
    width: 250px;
  }
  .article-form-login {
    top: 250px;
    gap: 20px;
  }
}
@media (max-width: 721px) {
  #section-login {
    height: 1100px;
  }
  .article-form-login {
    margin-top: 50px;
    height: 600px;
  }
  .div-login-img {
    width: 500px;
    height: 100%;
  }

  .form-login {
    width: 280px;
    height: 330px;
    gap: 20px;
  }
  .form-login > .div-form-inputs {
    height: 120px;
  }

  .form-login > .div-form-title > h3 {
    width: 250px;
    font-size: 18px;
  }
  .form-login > .div-form-inputs {
    gap: 30px;
  }
  .form-login > .div-form-inputs > input {
    width: 200px;
  }
  .div-login-img {
    width: 280px;
    height: 550px;
    top: 0px;
  }
  .div-img-login-left {
    position: absolute;
    left: 20px;
    top: -10px;
    width: 250px;
  }
  .div-img-login-right {
    right: 0;
    bottom: -30px;
    width: 250px;
  }
  .error-message-form {
    position: absolute;
    width: 200px;
    left: 45px;
    bottom: 85px;
    font-size: 11px;
    letter-spacing: 2;
  }
}
