/*Section-validate-restaunrants-admin*/
#section-validate-restaurants-admin {
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: var(--ep-padding-l) 120px;
  background-color: var(--ep-second-bg);
  gap: 60px;
  overflow-x: auto;
}
#section-validate-restaurants-admin > h2 {
  width: 100%;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.8px;
  color: var(--ep-fifth-text);
}
.article-admin-restaurants-non-verified {
  width: 100%;
  display: flex;
  justify-content: start;
  justify-items: start;
  align-items: start;
  align-content: start;
  gap: 50px;
  overflow-x: auto;
}
.restaurants-non-verified-admin-container {
  height: auto;
  flex-direction: column;
  gap: 20px;
}
.div-buttons-restaurants-non-verified-admin {
  width: 100%;
  height: 50px;
  gap: 30px;
}
.no-restaurants-non-verified-container {
  width: 100%;
  height: 30px;
  gap: 10px;
}
.no-restaurants-non-verified-container > p {
  font-size: 18px;
  text-align: center;
  color: var(--ep-second-text);
  letter-spacing: 0.5px;
  line-height: 28px;
  font-weight: 400;
}
.edit-icon-alert-validate-admin {
  color: var(--ep-color2);
  height: 20px;
  width: 20px;
}

/*MediaQueries*/
@media (max-width: 1300px) {
  .article-admin-restaurants-non-verified {
    width: 1000px;
    padding-bottom: var(--ep-padding-xl);
  }
  @media (max-width: 1120px) {
    .article-admin-restaurants-non-verified {
      width: 700px;
    }
  }
}
@media (max-width: 950px) {
  .article-admin-restaurants-non-verified {
    width: 500px;
  }
}
@media (max-width: 580px) {
  #section-validate-restaurants-admin {
    width: 100%;
  }
  #section-validate-restaurants-admin > h2 {
    width: 250px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
  }
  .article-admin-restaurants-non-verified {
    width: 250px;
    height: auto;
    gap: 50px;
    padding-bottom: 50px;
  }
  .div-buttons-restaurants-non-verified-admin {
    width: 100%;
    height: 100px;
    gap: 30px;
  }
  .no-restaurants-non-verified-container > p {
    font-size: 15px;
    width: 230px;
  }
}
