/*Recipe-simple-created*/
.article-recipe-simple-created {
  width: 150px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  align-items: center;
  border-radius: var(--ep-br);
  gap: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.article-recipe-simple-created:hover {
  transform: scale(1.05);
}
.article-recipe-simple-created > img {
  height: 120px;
  width: 100%;
  border-radius: var(--ep-br);
  object-fit: cover;
}
.article-recipe-simple-created > h3 {
  width: 100%;
  line-height: 1.3;
  text-align: center;
  color: var(--ep-second-text);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}
/*MediaQueries*/
@media (max-width: 580px) {
  .article-recipe-simple-created {
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    align-items: center;
    border-radius: var(--ep-br);
    gap: 10px;
    cursor: pointer;
    margin-left: 0;
  }
  .article-recipe-simple-created > img {
    height: 120px;
    width: 100%;
    border-radius: var(--ep-br);
    object-fit: cover;
  }
  .article-recipe-simple-created > h3 {
    width: 100%;
    line-height: 1.3;
    text-align: center;
    color: var(--ep-third-text);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
  }
}
